
@font-face {
    font-family: 'Gotham';
    src: url('Assets/Fonts/Gotham/GothamHTF-Book.woff2') format('woff2'),
        url('Assets/Fonts/Gotham/GothamHTF-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Assets/Fonts/Gotham/GothamHTF-Black.woff2') format('woff2'),
        url('Assets/Fonts/Gotham/GothamHTF-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Assets/Fonts/Gotham/GothamHTF-Bold.woff2') format('woff2'),
        url('Assets/Fonts/Gotham/GothamHTF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Assets/Fonts/Gotham/GothamHTF-Medium.woff2') format('woff2'),
        url('Assets/Fonts/Gotham/GothamHTF-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
    background: transparent linear-gradient(90deg, #EFEFEF 0%, #EDEDED 100%);
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.Icon {
    top: 20px;
    left: 60px;
    position: fixed;
    z-index: 9999;
}

.miniNavbar {
    top: 35px;
    position: fixed;
    z-index: 9999;
    right: 20px;
    display: none;
}

.miniNavbar img {
    cursor: pointer;
}

.navbarExpanded {
    top: 35px;
    position: fixed;
    z-index: 9999;
    right: 20px;
    background-color: #19272D;
    border-radius: 10%;
    display: none;
}

.navbarExpanded.active {
    display: block;
    opacity: 1;
}

.navbarOptions {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px 20px 20px 20px;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 18px;
}

.cross {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}

.cross p {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.navbarOptions a {
    text-decoration: none;
    color: white;
}

.navbarOptions span {
    rotate: 90;
    color: white;
    transform: rotate(90deg);
}

.topnav {
    top: 50px;
    right: 0;
    position: fixed;
    background-color: #19272D;
    padding: 20px;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnav-left img {
    height: 45px;
    width: auto;
}

.topnav-right {
    display: flex;
    align-items: center;
}

.topnav-right a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: 'Raleway';
    font-weight: 500;
}

.topnav-right span {
    color: white;
    font-size: large;
    font-family: 'Raleway';
    font-weight: 500;
    font-style: normal;
    margin: 0 5px;
}

.Intro {
    background-image: url('Assets/Imgs/Background/bgMain2x.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.containerText {
    margin-top: 170px;
    max-height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 80px;
}

.Text1 {
    width: 700px;
    height: 420px;
    color: white;
    font-weight: bold;
    font-size: 90px;
    font-family: 'Gotham';
    font-weight: bold;
    display: flex;
    text-shadow: 12px 12px 12px #00000029;
}

.Text1 p {
    margin: 0;
}

.Text2 {
    width: 30%;
    color: white;
    font-size: 40px;
    font-family: 'Raleway';
    font-weight: 300;
    text-shadow: 12px 12px 12px #00000029;;
}

.products {
    margin: 0;
}

.products h2 {
    color: #2E606F;
    margin: 0;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 100px;
    text-align: right;
}

#header2-1 {
    padding-top: 20px;
    margin-right: 320px;
}

#header2-2 {
    margin-right: 80px;
}

.containerBig { 
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.containerMini {
    display: flex;
    background-color: white;
    max-width: 1250px;
    margin: 45px 20px;
}

.infoProduct {
    display: flex;
    flex-direction: row;
    padding: 35px;
    max-width: 100%;
    max-height: 100%;
}

.infoProduct img {
    margin: 25px 25px;
    max-width: 40%;
}

.txtProduct {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.txtProduct p:nth-child(1) {
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 28px;
    margin: 0;
}

.txtProduct p:nth-child(3) {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 22px;
    margin-top: 0;
    color: #707070;
}

.txtProduct p:nth-child(4) {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 20px;
    margin: 0;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.price p:nth-child(1) {
    font-family: 'Gotham';
    font-weight: 900;
    font-size: 24px;
    margin: 0;
    margin-right: 1.5vw;
}

.price p:nth-child(2) {
    font-family: 'Gotham';
    font-weight: 500;
    font-size: 22px;
}

#prodPurple, #prodGreen {
    flex-direction: row-reverse;
}

.containerBig2 {
    display: flex;
    justify-content: flex-end;
}

.kitProducts {
    background-image: url('Assets/Imgs/Background/prodTodos.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 150vh;
}

.kitMini {
    background-color: white;
    max-width: 625px;
    margin-right: 335px;
    margin-top: 100px
}

.kitMiniTxt {
    display: flex;
    flex-direction: column;
    margin: 35px 35px;
}

.kitMiniTxt p {
    margin: 0;
    font-family: 'Raleway';
    font-weight: bold;
}

#titleKit {
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 30px;
    margin: 1vh 0vw;
}

.kitMiniTxt p:nth-child(3) {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 22px;
    margin: 1vh 0vw;
}

.priceWeight {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.priceWeight p:nth-child(1) {
    font-family: 'Gotham';
    font-weight: 900;
    font-size: 40px;
    margin-right: 1.5vw;
}

.priceWeight p:nth-child(2) {
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 25px;
}

.itemSoap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.listSoap p {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 20px;
    max-width: 100%;
}

.listSoap hr {
    width: 100%;
    color: #355353;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.content, .contentFaq1, .contentFaq2 {
    animation: fadeIn 0.5s ease-in-out;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    display: none;
    overflow: auto;
    margin-bottom: 15px;
}

.content.active, .contentFaq1.active, .contentFaq2.active {
    display: block;
}

.latest {
    margin: 0;
    max-width: 100%;
}

.latest p {
    margin-top: -65px;
    margin-left: 95px;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 100px;
    color: #2E606F;
}

.miniProducts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 45px;
    margin-left: 95px;
    margin-right: 95px;
}

.miniProducts img {
    width: 100%;
    height: auto;
}

.imgContainer {
    position: relative;
    text-align: center;
}

.bottom-left {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    bottom: 11px;
    left: 22px;
}

.faq {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.faq h2 {
    font-family: 'Gotham';
    font-weight: 900;
    font-size: 100px;
    color: #2E606F;
}

.faq p {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 20px;
}

.faqRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.faqRow p {
    margin: 0;
}

.faqColumn {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.itemFaq {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faqRow hr {
    width: 100%;
    color: #355353;
}

footer {
    display: flex;
    background-color: white;
    margin-top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    animation: fadeIn 0.3s ease-in-out;
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 270px;
    width: 725px;
    border-radius: 15px;
    box-shadow: 12px 12px 12px #00000029;
}

input {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 15px;
    color: #2F5462;
}

form ::placeholder{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 15px;
    color: #2F5462;
}

form input, textarea {
    background-color: #EAEAEA;
    border-color: transparent;
    margin: 5px;
}

form p {
    font-family: 'Gotham';
    font-weight: 500;
    font-size: 20px;
    color: #2F5462;
    margin-bottom: 0;
}

.inputFields {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 0;
}

.inputFields input {
    height: 30px;
}

.emailtelFields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}

#buttonSend {
    width: 10%;
    height: 30px;
    background-color: #2E606F;
    color: #CCD7DB;
    border-color: transparent;
    border-radius: 25px;
    margin: 25px;
    font-family: 'Gotham';
    font-weight: 500;
    font-size: 12px;
}

.footerDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    margin-top: 30px;
    max-width: 1024px;
    margin-left: 75px;
    margin-right: 75px;
}

.footerDiv p, a {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 14px;
    color:  #2E606F;
}

.footerDiv a {
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
}

.infoFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#infoFooterTitle {
    font-weight: 500;
}

.infoFooter p {
    margin: 5px
}

#address {
    align-items: flex-start;
}

#socialNet {
    align-items: flex-end;
}

.socialNetDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialNetDiv img {
    margin: 14px;
}

.copyrightDiv {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    width: 45%;
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 1025px) {
    .topnav-left {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .topnav {
        top: 0;
        position: fixed;
        right: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        background-color: #19272D;
        z-index: 9999;
    }

    .Icon {
        display: none;
    }

    .topnav-right {
        margin-right: 40px;
    }

    .Intro {
        background-image: url('Assets/Imgs/Background/bgIpad.png');
    }

    .containerText {
        margin-left: 50px;
        margin-top: 150px;
        justify-content: flex-start;
    }

    .Text1 {
        height: auto;
        font-size: 10vw;
        width: 80%;
    }

    .Text1 p {
        margin: 0;
    }
    
    .Text2 {
        font-size: 30px;
        width: 30%;
    }

    .products h2 {
        font-size: 60px;
    }
    
    #header2-1 {
        margin-right: 175px;
    }
    
    #header2-2 {
        margin-right: 30px;
    }

    .containerMini:nth-child(odd) {
        margin: 40px 180px 40px 60px;
    }

    .containerMini:nth-child(even) {
        margin: 40px 60px 40px 180px;
    }

    .infoProduct {
        flex-direction: column !important;
        align-items: flex-start;
    }

    .infoProduct img {
        max-width: 65%;
        margin-left: 0;
    }

    .kitProducts {
        background-image: url('Assets/Imgs/Background/prodTodos820.png');
        height: 90vh;
    }

    .containerBig2 {
        justify-content: flex-start;
    }

    .kitMini {
        margin-right: 0;
        margin-left: 180px;
        max-width: 65%;
    }

    .latest p {
        margin-top: -40px;
        margin-left: 40px;
        font-size: 60px;
        color: #2E606F;
    }

    .miniProducts {
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .bottom-left {
        font-size: 12px;
        bottom: 7px;
        left: 11px;
    }

    .faq h2 {
        font-size: 60px;
    }
    
    .faqRow {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .faqColumn {
        width: 60%;
    }

    .footerDiv {
        width: 95%;
    }

    .copyrightDiv {
        width: 95%;
    }
    
}

@media only screen and (min-width: 769px) {
    .miniNavbar {
        display: none !important;
    }

    .navbarExpanded {
        display: none !important;
    }
}

@media only screen and (max-width: 768px) {
    
    .Icon {
        top: 30px;
        left: 40px;
        position: absolute;
        display: inline;
        background-color: #19272D;
        padding: 25px 15px;
        border-radius: 50%;
    }

    .Icon img {
        content: url(Assets/Imgs/Background/iconMae1x.png);
    }

    .miniNavbar {
        display: block;
    }

    .topnav {
        display: none;
    }

    .containerText {
        margin-top: 150px;
    }
    
    .Text2 {
        width: 80%;
        font-size: 30px;
    }

    #header2-1 {
        padding-top: 20px;
        font-size: 40px;
        margin-right: 90px;
    }
    
    #header2-2 {
        font-size: 40px;
        margin-right: 22px;
    }

    .containerMini {
        margin: 32px 20px !important;
        background-color: transparent;
    }

    .infoProduct {
        align-items: center;
        padding: 5px;
    }

    .infoProduct img {
        margin: 0 0 20px 0;
        max-width: 70%;
        background-color: white;
        padding: 49px 20px;
    }

    .txtProduct {
        align-items: center; 
        text-align: center;
    }
    
    .txtProduct p:nth-child(1) {
        font-size: 20px;
        margin-bottom: 10px;
        width: 195px;
    }
    
    .txtProduct p:nth-child(3) {
        font-size: 20px;
    }
    
    .txtProduct p:nth-child(4) {
        font-size: 18px;
    }

    .price {
        flex-direction: column;
        align-items: center;
    }
    
    .price p:nth-child(1) {
        font-size: 24px;
        margin: 0;
        width: 70px;
    }
    
    .price p:nth-child(2) {
        font-size: 20px;
        margin: 10px 0;
    }
    
    .containerBig2 {
        justify-content: center;
    }

    .kitMini {
        margin: 0;
        margin-top: 50px;
        max-width: 90%;
    }

    #titleKit {
        font-size: 20px;
    }
    
    .kitMiniTxt p:nth-child(3) {
        font-size: 14px;
    }
    
    .priceWeight p:nth-child(1) {
        font-size: 21px;
    }
    
    .priceWeight p:nth-child(2) {
        font-size: 16px;
    }
    
    .listSoap p {
        font-size: 15px;
    }

    .listSoap p:nth-child(2) {
        font-size: 25px;
    }

    .latest p {
        margin-top: -25px;
        margin-left: 20px;
        font-size: 40px;
        color: #2E606F;
    }

    .miniProducts {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .bottom-left {
        bottom: 5px;
        left: 8px;
        text-align: left;
    }

    .faq h2 {
        font-size: 40px;
    }
    
    .faq p {
        font-size: 15px;
    }
    
    .faqColumn {
        width: 90%;
    }

    form {
        width: 90%;
    }
    
    .emailtelFields {
        grid-template-columns: repeat(1, 1fr);
    }
    
    #buttonSend {
        width: 25%;
    }
    
    .footerDiv {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        margin-top: 30px;
        width: 100%;
        gap: 15px;
    }
    
    .footerDiv p, a {
        font-family: 'Raleway';
        font-weight: 300;
        font-size: 14px;
        color:  #2E606F;
    }
    
    .footerDiv a {
        margin-top: 20px;
        text-decoration: underline;
        cursor: pointer;
    }
    
    .infoFooter {
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
        margin-left: 20px;
    }

    .contactDiv {
        margin-right: 80px;
    }

    #contact {
        display: flex;
        flex-direction: row;
    }
    
    .socialNetDiv {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .socialNetDiv img {
        margin: 14px;
    }
    
    .copyrightDiv {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
}