@font-face {
    font-family: 'Gotham - Bold';
    src: url(Assets/Fonts/Gotham/GothamHTF-Bold.otf);
}

@font-face {
    font-family: 'Gotham - Black';
    src: url(Assets/Fonts/Gotham/GothamHTF-Black.otf);
}

@font-face {
    font-family: 'Gotham - Medium';
    src: url(Assets/Fonts/Gotham/GothamHTF-Medium.otf);
}

@font-face {
    font-family: 'Raleway - Medium';
    src: url(Assets/Fonts/Raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: 'Raleway - Light';
    src: url(Assets/Fonts/Raleway/Raleway-Light.ttf);
}

@media only screen and (max-width: 820px) {
    .topnav {
        top: 0 !important;
        position: fixed;
        right: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        background-color: #19272D;
        z-index: 9999;
    }

    .Icon {
        display: none;
    }

    .topnav-left {
        display: block;
    }

    .topnav-right {
        justify-content: flex-end;
        align-items: center;
        margin-right: 40px;
    }

    .containerTexto{
        height: 90% !important;

    }

    .Texto1 {
        width: 75% !important;
        font-size: 75px !important;
        margin-left: 50px;
    }
    
    .Texto2 {
        width: 45% !important;
        font-size: 35px !important;
        margin-left: 50px;
        margin-top: 50px !important;
    }

}

@media only screen and (max-width: 1850px) {
    .Intro {
        height: 1180px !important;
    }
}

@media only screen and (max-width: 1080px) {
    .Intro {
        background-image: url('Assets/Imgs/Background/bgIpad.png') !important;
    }
}

@media only screen and (max-width: 1440px) {
    .containerMini {
        flex-direction: column !important;
    }

    .containerMini:nth-child(odd) {
        margin: 5vw 10vw 5vh 0vw !important;
    }

    .containerMini:nth-child(even) {
        margin: 5vw 0vw 5vh 10vw !important;
    }

    .containerMini img {
        padding: 3.5vw 3.5vw 1.5vw 3.5vw !important;
        
    }
}

@media only screen and (min-width: 821px) {
    .topnav-left {
        display: none;
    }
}

body {
    margin: 0;
}

.Icon {
    top: 20px;
    left: 60px;
    position: fixed;
    z-index: 9999;
}

.topnav {
    top: 50px;
    right: 0;
    position: fixed;
    background-color: #19272D;
    padding: 20px;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnav-left img {
    height: 45px;
    width: auto;
}

.topnav-right {
    display: flex;
    align-items: center;
}

.topnav-right a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: 'Raleway - Medium';
}

.topnav-right span {
    color: white;
    font-size: large;
    font-family: 'Raleway - Medium';
    margin: 0 5px;
}

.Intro {
    background-image: url('Assets/Imgs/Background/bgMain2x.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
    height: 1080px;
    display: flex;
    justify-content: center;
}

.containerTexto {
    margin-top: 100px;
    height: 90%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.Texto1 {
    width: 700px;
    height: 420px;
    color: white;
    font-weight: bold;
    font-size: 90px;
    font-family: 'Gotham - Bold';
    display: flex;
}

.Texto2 {
    width: 30%;
    margin-top: 100px;
    color: white;
    font-size: 40px;
    font-family: 'Raleway - Light';
    display: flex;
}


.produtos {
    background: transparent linear-gradient(90deg, #EFEFEF 0%, #EDEDED 100%);
    display: flex;
    justify-content: center;
    margin: 0;
}

h2 {
    color: #2E606F;
    margin: 0;
    font-family: 'Gotham - Bold';
}

.containerBig {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
.containerMini {
    display: flex;
    background-color: white;
    height: auto;
    margin: 0vw 13vw 7vh 13vw;
}

.containerMini:nth-child(1) {
    margin: 5vw 13vw 7vh 13vw;
}

.containerMini img {
    padding: 4.5vw 0vw 4.5vw 4.5vw;
}

.txtProduto {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 2.5vw 3.5vw 2.5vw 1.5vw;
}

.txtProduto p:nth-child(1) {
    font-family: 'Gotham - Bold';
    font-size: 28px;
    margin: 0;
    padding-right: 1vw;
}

.txtProduto p:nth-child(3) {
    font-family: 'Raleway - Medium';
    font-size: 22px;
    margin-top: 0;
    color: #707070;
}

.txtProduto p:nth-child(4) {
    font-family: 'Raleway - Light';
    font-size: 20px;
    margin: 0;
}

.preco {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.preco p:nth-child(1) {
    font-family: 'Gotham - Black';
    font-size: 24px;
    margin: 0;
}

.preco p:nth-child(2) {
    font-family: 'Gotham - Medium';
    font-size: 22px;
}